@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700|Philosopher&display=swap');
/*FONT*/
$title-font: 'Philosopher', sans-serif;
$text-font: 'Muli', sans-serif;

$text-dark: black;
$text-light: lightgray;
$body-size: 12px;
$size-1: 1em;
$size-2: 1.5em;